<h2>Switches</h2>
<hr/>
<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <div class="row mb-3">
        <div class="col">
            <label class="col-sm-3 col-form-label">Género</label>
            <div class="col-sm-9">
                <div class="form-check">
                    <input formControlName="genero" class="form-check-input" type="radio" value="M" id="radioMasculino">
                    <label class="form-check-label" for="flexCheckDefault">
                      Masculino
                    </label>
                </div>
                <div class="form-check">
                    <input formControlName="genero" class="form-check-input" type="radio" value="F" id="radioFemenino" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Femenino
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch">
                <input formControlName="notificaciones" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" required>
                <label class="form-check-label" for="flexSwitchCheckDefault">Aceptar</label>
            </div>
        </div>
    </div>
    <div class="col">
        <label class="col-sm-3 col-form-label">Terminos y condiciones</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input formControlName="condiciones" class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                <label class="form-check-label" for="flexCheckDefault">
                  Aceptar
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary float-end">Aceptar</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col">
        <h3>Valor</h3>
        <pre>{{persona | json}}</pre>

        <h3>Valid</h3>
        <pre>{{miFormulario.valid}}</pre>

        <h3>Value</h3>
        <pre>{{miFormulario.value | json}}</pre>
    </div>
</div>