<h2>Template</h2>
<hr/>
<ul class="list-group">
    <li *ngFor="let item of menu" class="list-group-item" [routerLink]="item.ruta" routerLinkActive="active">
        {{item.texto}}
    </li>
</ul>
<h2>Reactivos</h2>
<hr/>
<ul class="list-group">
    <li *ngFor="let item of rectiveMenu" class="list-group-item" [routerLink]="item.ruta" routerLinkActive="active">
        {{item.texto}}
    </li>
</ul>
<h2>Auth</h2>
<hr/>
<ul class="list-group">
    <li *ngFor="let item of authMenu" class="list-group-item" [routerLink]="item.ruta" routerLinkActive="active">
        {{item.texto}}
    </li>
</ul>